<nav class="lighten-1" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" class="brand-logo"
       ui-sref="home" ui-sref-active="active">
      Instagram Utility
    </a>

    <ul class="right hide-on-med-and-down">
      <li><a href="https://github.com/Joeffison/InstagramUtility#instagramutility"
             target="_blank">About</a>
      </li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="https://github.com/Joeffison/InstagramUtility#instagramutility"
             target="_blank">About</a>
      </li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse">
      <i class="material-icons">menu</i>
    </a>
  </div>
</nav>
