<div id="progress-bar" class="blue lighten-1">
  <div class="indeterminate purple lighten-1"></div>
</div>
<nav class="white" role="navigation">
  <div class="nav-wrapper container row">
    <div class="col valign-wrapper" style="height: 100%;">
      <a id="insta-logo" class="brand-logo"
         ui-sref="home" ui-sref-active="active">
      </a>
    </div>

    <ul class="col right hide-on-med-and-down">
      <li><a class="black-text"
             href="https://github.com/Joeffison/InstagramUtility#instagramutility"
             target="_blank">About</a>
      </li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="https://github.com/Joeffison/InstagramUtility#instagramutility"
             target="_blank">About</a>
      </li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse">
      <i class="material-icons">menu</i>
    </a>
  </div>
</nav>
