<div class="row left-align profile-page" ng-if="vm.instaUser !== undefined">

  <div class="col s1 offset-s1">
    <img class="profile-picture" ng-src="{{vm.instaUser.profile_picture}}">
  </div>

  <div class="col s10">
    <div class="row">
      <span class="col s4 offset-s3 profile-h1">
        {{vm.instaUser.username}}
      </span>
    </div>

    <div class="row">
      <div class="col s2 offset-s3 left-align">
        <span class="profile-item-text">
         <b>{{vm.instaUser.n_feed}}</b> posts
        </span>
      </div>
      <div class="col s3 left-align" ng-click="vm.notifyChild(vm.actions.FOLLOWERS)">
        <span class="profile-item-text clickable">
          <b>{{vm.instaUser.n_followers}}</b> followers
        </span>
      </div>
      <div class="col s2 left-align" ng-click="vm.notifyChild(vm.actions.FOLLOWING)">
        <span class="profile-item-text clickable">
        <b>{{vm.instaUser.n_followings}}</b> following
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col s3 offset-s5 left-align" ng-click="vm.notifyChild(vm.actions.NOT_FOLLOWERS)">
        <span class="profile-item-text clickable">
          <b>{{vm.instaUser.notFollowers.length}}</b> not followers
        </span>
      </div>
      <div class="col s2 left-align" ng-click="vm.notifyChild(vm.actions.NOT_FOLLOWING)">
        <span class="profile-item-text clickable">
          <b>{{vm.instaUser.notFollowings.length}}</b> not following
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col s9 offset-s3">
        <span class="profile-item-text profile-h2">
         {{vm.instaUser.full_name}}
        </span>
        <span class="profile-item-text">
         {{vm.instaUser.biography}}
        </span>
      </div>
    </div>
  </div>

  <div class="col s12 post-div row">
    <span class="col s1 offset-s5 active">
      POSTS
    </span>
    <!--span class="col s1 offset-s1">
      SAVED
    </span-->
  </div>

  <div class="col s12">
    <div class="row">
      <div class="col s4" ng-repeat="post in vm.instaUser.feed.items">
        <div class="squared-image"
             ng-if="post.image_versions2 && post.image_versions2.candidates"
             style="background-image: url({{post.image_versions2.candidates[0].url}});">
        </div>

        <!-- ng-repeat="image in post.carousel_media" -->
        <div class="squared-image"
             ng-if="post.carousel_media"
             style="background-image: url({{post.carousel_media[0].image_versions2.candidates[0].url}});">
        </div>
      </div>
    </div>
  </div>

  <instagram-user-list users="vm.instaUser.followers" action-name="vm.actions.FOLLOWERS" action-title="'Followers'"
                       parent-to-child-notification-registration="vm.followersComponentRegistration(handler)">
  </instagram-user-list>

  <instagram-user-list users="vm.instaUser.followings" action-name="vm.actions.FOLLOWING" action-title="'Following'"
                       parent-to-child-notification-registration="vm.followingsComponentRegistration(handler)">
  </instagram-user-list>

  <instagram-user-list users="vm.instaUser.notFollowers" action-name="vm.actions.NOT_FOLLOWERS" action-title="'Not Followers'"
                       parent-to-child-notification-registration="vm.notFollowersComponentRegistration(handler)">
  </instagram-user-list>

  <instagram-user-list users="vm.instaUser.notFollowings" action-name="vm.actions.NOT_FOLLOWING" action-title="'Not Following'"
                       parent-to-child-notification-registration="vm.notFollowingsComponentRegistration(handler)">
  </instagram-user-list>
</div>
