<div ng-attr-id="{{'modal_' + $ctrl.actionName}}" class="modal modal-fixed-footer modal-followers">
  <div class="valign-wrapper modal-title"><p>{{$ctrl.actionTitle}}</p></div>
  <div class="modal-content">
    <ul class="collection">
      <li class="collection-item avatar" ng-repeat="user in $ctrl.users">
        <img ng-src="{{user.profile_pic_url}}" alt="" class="circle">
        <span class="title truncate">{{user.username}}</span>
        <p>{{user.full_name}}</p>

        <a class="secondary-content btn blue flow-text" ng-class="user.metaIsLoading? 'loading' : ''"
           ng-if="!user.isFollowing"
           ng-click="$ctrl.follow(user)">
          Follow<circle-loader ng-if="user.metaIsLoading"></circle-loader>
        </a>

        <a class="secondary-content btn white black-text flow-text" ng-class="user.metaIsLoading? 'loading' : ''"
           ng-if="user.isFollowing"
           ng-click="$ctrl.unfollow(user)">
          Following<circle-loader ng-if="user.metaIsLoading"></circle-loader>
        </a>
      </li>
    </ul>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close btn-flat">Follow All</a>
  </div>
</div>
