<footer class="white black-text page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5>Joeffison S. de Andrade</h5>
        <p class=" text-lighten-4">
          Brazilian Engineer passionate about Python, Java and Angular.
        </p>
      </div>
      <div class="col l3 s12">
        <h5>Join our Team</h5>
        <ul>
          <li>
            <a class="mdi mdi-github-face" href="https://github.com/Joeffison/InstagramUtility">Instagram Utility</a>
          </li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="">Connect</h5>
        <ul>
          <li><a class="mdi mdi-linkedin-box" target="_blank"
                 href="https://www.linkedin.com/in/joeffison-silvério-de-andrade-3b1716a6/">
            Linkendin
          </a></li>
          <li><a class="mdi mdi-github-circle" target="_blank"
                 href="https://github.com/Joeffison">
            Github
          </a></li>
          <li><a class="mdi mdi-gmail" target="_top"
                 href="mailto:joeffison@gmail.com?Subject=ML%20Builder">
            Email
          </a></li>
          <li><a class="mdi mdi-book-open-page-variant" target="_blank"
                 href="https://www.goodreads.com/user/show/70059834-joeffison-andrade">
            GoodReads
          </a></li>
          <li><a class="mdi mdi-instagram" target="_blank"
                 href="https://www.instagram.com/anjosilverio/">
            Instagram
          </a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-copyright">
    <div class="container">
      <a class="text-lighten-4" href="https://github.com/Joeffison/InstagramUtility">
        © 2018 Joeffison Andrade
      </a>
    </div>
  </div>
</footer>
