$color-hover-primary: teal;

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.black-text{
  a {
    color: black;

    &:hover {
      color: $color-hover-primary;
    }
  }
}

a {
  circle-loader {
    position: absolute;
    top: 0;
    left: 40%;
  }
}

.loading {
  opacity: 0.7;
  cursor: default;
}

main-header {
  .progress {
    margin: 0 !important;
  }
}

#insta-logo {
  //height: 35px !important;
  //width: 30px !important;
  //background: url(assets/img/insta-sprites.png) -331px -430px;
  background: url(assets/img/insta-sprites.png) -177px -264px;
  height: 35px;
  width: 176px;
}

.profile-item-text {
  //margin-right: 40px;
  &.clickable {
    cursor: pointer;

    &:hover {
      color: $color-hover-primary;
    }
  }
}

.modal-followers {
  $header-height: 7vmax;

  .modal-title {
    position: absolute;
    top: 0;
    font-weight: bolder;
    width: 100%;
    padding-left: 5vw;

    height: $header-height;
    min-height: $header-height;
    max-height: $header-height;
  }

  .modal-content {
    padding: 0;
    top: $header-height;
    border-top: solid 2px #dbdbdb;
    max-height: calc(100% - 56px - 7vmax) !important;
  }

  .collection {
    border: 0;
  }
}
