body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.instagram-login {
  width: 25vw;
  // background-color: white;
  // border-radius: 10%;
}

.modal-title {
  position: absolute;
  top: 0;
  font-weight: bolder;
  border-bottom: solid 1px #dbdbdb;
}
