$color-hover-primary: teal;

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.black-text{
  a {
    color: black;

    &:hover {
      color: $color-hover-primary;
    }
  }
}

main-header {
  .progress {
    margin: 0 !important;
  }
}

#insta-logo {
  //height: 35px !important;
  //width: 30px !important;
  //background: url(assets/img/insta-sprites.png) -331px -430px;
  background: url(assets/img/insta-sprites.png) -177px -264px;
  height: 35px;
  width: 176px;
}

.profile-item-text {
  //margin-right: 40px;
  &.clickable {
    cursor: pointer;

    &:hover {
      color: $color-hover-primary;
    }
  }
}

.modal-title {
  position: absolute;
  top: 0;
  font-weight: bolder;
  border-bottom: solid 1px #dbdbdb;
}
